html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to top right, #f6f9fc, #dfe9f3);
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

#game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #e91bb5, #dfe9f3);
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transform: scaleX(-1);
  border-radius: 12px;
  background: #000;
}

video {
  display: none;
}

.hud {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hud p {
  margin: 0;
  padding: 5px 0;
}

#rotate-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  color: white;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.rotate-box {
  background: #222;
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 1.2em;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}
